Repository fthomas/refined: changes, and which Mergify rules are due for each by the changed paths.
All: Label benchmark PRs, Label cats PRs, Label core PRs, Label docs PRs, Label eval PRs, Label jsonpath PRs, Label pureconfig PRs, Label scalacheck PRs, Label scalaz PRs, Label scodec PRs, Label scopt PRs, Label shapeless PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.12.17, temurin@8)
  - status-success=Build and Test (ubuntu-latest, 2.13.10, temurin@8)
  - status-success=Build and Test (ubuntu-latest, 3.2.2, temurin@8)
  actions:
    merge: {}
- name: Label benchmark PRs
  conditions:
  - files~=^modules/benchmark/
  actions:
    label:
      add:
      - benchmark
      remove: []
- name: Label cats PRs
  conditions:
  - files~=^modules/cats/
  actions:
    label:
      add:
      - cats
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^modules/docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label eval PRs
  conditions:
  - files~=^modules/eval/
  actions:
    label:
      add:
      - eval
      remove: []
- name: Label jsonpath PRs
  conditions:
  - files~=^modules/jsonpath/
  actions:
    label:
      add:
      - jsonpath
      remove: []
- name: Label pureconfig PRs
  conditions:
  - files~=^modules/pureconfig/
  actions:
    label:
      add:
      - pureconfig
      remove: []
- name: Label scalacheck PRs
  conditions:
  - files~=^modules/scalacheck/
  actions:
    label:
      add:
      - scalacheck
      remove: []
- name: Label scalaz PRs
  conditions:
  - files~=^modules/scalaz/
  actions:
    label:
      add:
      - scalaz
      remove: []
- name: Label scodec PRs
  conditions:
  - files~=^modules/scodec/
  actions:
    label:
      add:
      - scodec
      remove: []
- name: Label scopt PRs
  conditions:
  - files~=^modules/scopt/
  actions:
    label:
      add:
      - scopt
      remove: []
- name: Label shapeless PRs
  conditions:
  - files~=^modules/shapeless/
  actions:
    label:
      add:
      - shapeless
      remove: []

add tests for BigDecimal types' instances;
  modules/cats/shared/src/test/scala/eu/timepit/refined/cats/CommutativeSemigroupAndMonoidLawTests.scala
Due: Label cats PRs

format;
  modules/cats/shared/src/test/scala/eu/timepit/refined/cats/CommutativeSemigroupAndMonoidLawTests.scala
Due: Label cats PRs

Update scalafmt-core to 3.7.2
  .scalafmt.conf
Due: none

fix(scalacheck): remove shapeless from string module
  build.sbt
  modules/scalacheck/shared/src/main/scala/eu/timepit/refined/scalacheck/string.scala
Due: Label scalacheck PRs

add gen tests
  modules/scalacheck/shared/src/test/scala-3.0-/eu/timepit/refined/scalacheck/StringArbitrarySpec.scala
Due: Label scalacheck PRs

Duplicate source files for Scala 2 and 3
  build.sbt
  modules/scalacheck/shared/src/main/scala-3.0+/eu/timepit/refined/scalacheck/generic.scala
  modules/scalacheck/shared/src/main/scala-3.0+/eu/timepit/refined/scalacheck/string.scala
  modules/scalacheck/shared/src/main/scala-3.0-/eu/timepit/refined/scalacheck/generic.scala
  modules/scalacheck/shared/src/main/scala-3.0-/eu/timepit/refined/scalacheck/string.scala
  modules/scalacheck/shared/src/test/scala-3.0+/eu/timepit/refined/scalacheck/StringArbitrarySpec.scala
Due: Label scalacheck PRs

Update our list of contributors
  README.md
Due: none

Fix CI badge
  README.md
Due: none

Setting version to 0.10.2
  README.md
Due: none

Set 0.10.2 as latestVersion
  latestVersion.sbt
Due: none

Build refined-cats for Scala Native
  build.sbt
Due: none

Update workflow
  .github/workflows/ci.yml
Due: none

Add NumericValidateSpec for Scala 3
  modules/core/shared/src/test/scala-3.0+/eu/timepit/refined/NumericValidateSpec.scala
Due: Label core PRs

Update sbt-typelevel-mergify to 0.4.19
  project/plugins.sbt
Due: none

Add pureconfig for scala3
  .scalafmt.conf
  build.sbt
  modules/pureconfig/shared/src/main/scala-3.0+/eu/timepit/refined/pureconfig/TypeDescribeVersionSpecific.scala
  modules/pureconfig/shared/src/main/scala-3.0-/eu/timepit/refined/pureconfig/TypeDescribeVersionSpecific.scala
  modules/pureconfig/shared/src/main/scala/eu/timepit/refined/pureconfig/BaseInstances.scala
  modules/pureconfig/shared/src/main/scala/eu/timepit/refined/pureconfig/package.scala
  modules/pureconfig/shared/src/test/scala-3.0+/eu/timepit/refined/pureconfig/SpecDerivedInstances.scala
  modules/pureconfig/shared/src/test/scala-3.0-/eu/timepit/refined/pureconfig/SpecDerivedInstances.scala
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/Config.scala
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

proper scalafmt dialect, fix for old Java version
  .scalafmt.conf
  modules/pureconfig/shared/src/main/scala-3.0+/eu/timepit/refined/pureconfig/TypeDescribeVersionSpecific.scala
  modules/pureconfig/shared/src/test/scala-3.0+/eu/timepit/refined/pureconfig/SpecDerivedInstances.scala
Due: Label pureconfig PRs

removed pureconfig.generic
  build.sbt
  modules/pureconfig/shared/src/test/scala-3.0+/eu/timepit/refined/pureconfig/SpecDerivedInstances.scala
  modules/pureconfig/shared/src/test/scala-3.0-/eu/timepit/refined/pureconfig/SpecDerivedInstances.scala
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

remove separate file for example Config
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/Config.scala
Due: Label pureconfig PRs

Yet another type description form for scala3
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

fix test typo (missing closing ])
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

fix for old scala - not using jdk converters
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

fix false-positive missing interpolator [scala/bug/issues/10217] for 2.12
  modules/pureconfig/shared/src/test/scala/eu/timepit/refined/pureconfig/RefTypeConfigConvertSpec.scala
Due: Label pureconfig PRs

Update nscplugin, sbt-scala-native, ... to 0.4.11
  project/plugins.sbt
Due: none

Setting version to 0.10.3
  README.md
Due: none

Set 0.10.3 as latestVersion
  latestVersion.sbt
Due: none

Update nscplugin, sbt-scala-native, ... to 0.4.12
  project/plugins.sbt
Due: none

avoid deprecated `java.net.URL` constructor
  modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/string.scala
  modules/core/shared/src/main/scala-3.0-/eu/timepit/refined/string.scala
  modules/core/shared/src/main/scala/eu/timepit/refined/util/string.scala
Due: Label core PRs

Update json-path to 2.8.0
  build.sbt
Due: none

Update sbt-mima-plugin to 1.1.2
  project/plugins.sbt
Due: none

Update scalafmt-core to 3.7.3
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.7.3
  modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/boolean.scala
  modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/internal/WitnessAs.scala
  modules/core/shared/src/main/scala-3.0+/eu/timepit/refined/types/net.scala
Due: Label core PRs

Add 'Reformat with scalafmt 3.7.3' to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Update sbt-scala-native-crossproject, ... to 1.3.0
  project/plugins.sbt
Due: none

Update sbt-scalajs, scalajs-compiler, ... to 1.13.1
  project/plugins.sbt
Due: none

Update pureconfig-core to 0.17.3
  build.sbt
Due: none

Update sbt-scala-native-crossproject, ... to 1.3.1
  project/plugins.sbt
Due: none

Update sbt-typelevel-mergify to 0.4.20
  project/plugins.sbt
Due: none

Update sbt-ci-release to 1.5.12
  project/plugins.sbt
Due: none

Add PITS Global Data Recovery Services to the adopters list.
  README.md
Due: none
